exportPattern("^[[:alpha:]]+")
importFrom("grDevices", "dev.new")
importFrom("graphics", "boxplot", "hist", "legend", "matplot", "par", "plot")
importFrom("utils", "read.csv", "write.csv")
importFrom("snow", "setDefaultClusterOptions")
import(stats, snow, snowfall, quantmod, RCurl)
